/* *** commons *** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
}

.col-left,
.col-right {
    height: calc(100vh - 100px);
}

.col-left .show {
    color: #808080;
    margin-left: 3px;
    font-size: 14px;
    font-weight: 600;
    display: none;
} 

.uppercase {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

section.title {
    margin: 20px;
}

h1 {
    font-size: 25px;
}

h1, h2, h3 {
    color: white;
}

h4 {
    margin-top: 10px;
    color: #808080;
    font-size: 13px;
}

.white:hover {
    color: white;
    cursor: pointer;
}

.underline:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

/* *** spotify interface left *** */
.col-left {
    width: 55px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .icons {
    text-align: center;
} */

.icon-top, 
.icon-bottom {
    padding: 10px;
}

#logo-large {
    display: none;
}

#green-side-border {
    color: white;
    border-left: 2px solid #adff2f;
}

#playlist {
    text-align: left;
    display: none;
}

#playlist h4::before {
    content: "\f0fe";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

#download img {
    width: 20px;
    margin-right: 10px;
}

hr {
    margin: 0px 15px;
    border: 1px solid #484848;
}

#profile img {
    height: 35px;
    width: 35px;
    margin-right: 5px;
    background-color: #808080;
    border-radius: 50%;
}

/* * *** spotify interface right *** */ 
.col-right {
    width: calc(100% - 55px);
    background-color: #141922;
    overflow-y: scroll;
}

/* *** header *** */
.col-right header {
    height: 100px;
    width: calc(100vw - 55px);
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 100px;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.col-right button {
    margin: 15px;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    transition: transform 1ms;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* *** main *** */

main {
    height: calc(100% - 100px);
    margin-top: 100px;
    padding: 20px;
}

main nav {
    text-align: center;
}

main nav ul li {
    display: inline-block;
    margin: 10px 15px;
    color: #797b80;
}

li#green-border {
    color: white;
    line-height: 30px;
    border-bottom: 2px solid #adff2f;;
}

main .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

main .row .song {
    width: 150px;
    margin: 5px;
}

main .song-cover {
    width: 100%;
    position: relative;
}

main .row .song-cover img {
    width: 100%;
    object-fit: cover;
}

/* *** overlay effect *** */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.5);
  }

.song-cover:hover .overlay {
    opacity: 1;
}

.play-circle {
    color: white;
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa-play-circle:hover {
    color: #adff2f;
  }

main img#round {
    border-radius: 50%;
}

main .song-title {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

/* *** footer *** */

footer {
    height: 100px;
    width: 100vw;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

footer .footer-left,
footer .footer-center,
footer .footer-right {
    margin: 0px 10px;
}

footer .footer-left {
    display: flex;
    align-items: center;
}

.footer-left i {
    color: #797b80;;
}

footer .footer-left > * {
    margin-right: 15px;
}

/* .footer-left::after {
    content: "\f004" "\f07b";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 20px;
    color: #797b80;
    
} */

footer .song-title h4 {
    margin-top: 0px;
}

footer .footer-icons {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-icons i {
    font-size: 15px;
}

footer .footer-left img {
    height: 50%;
}

/* footer .song-title {
    height: 40%;
} */

.footer-center {
    width: 50%;
}

.footer-center .top-bar {
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
}

.top-bar > i,
.footer-right > i {
    margin-right: 15px;
    font-size: 15px;
    vertical-align: middle;
}

i#play {
    font-size: 35px;
    transition: transform 1ms;
}

i#play:hover {
    transform: scale(1.1);
    cursor: pointer;
}

footer .footer-center .bottom-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-bar div:first-child, div:last-child {
    color: white;
    font-size: 10px;
    font-weight: 700;
}

.progressbar {
    width: 80%;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 13px;
    position: relative;
  }

.progressbar>div {
    background-color: #adadad;
    width: 30%;
    height: 100%;
    border-radius: 10px;
}

.progressbar>div:hover {
    background-color: #adff2f;
    cursor: pointer;
}

footer .footer-right {
    line-height: 100px;
}  

.footer-right div.progressbar {
    display: inline-block;
    width: 50px;
}
  

/* *** media queries *** */

@media screen and (min-width: 420px) {

    main .row {
        justify-content: center;
    }
   
    .footer-left > div,
    .footer-right {
        display: none;
    }

    .footer-center {
        width: 100%;
    }
}

@media screen and (min-width: 460px) {
    main .row {
        justify-content: space-around;
    }
}

@media screen and (min-width: 576px) {
    .col-left {
        width: 200px;
    }

    #logo-small {
        display: none;
    }

    #logo-large {
        width: 80%;
        display: block;
    }

    .icon-top, 
    .icon-bottom {
        display: flex;
        align-items: center;
    }

    .icon-top img, 
    .icon-bottom img {
        width: 15%;
    }

    .col-left .show {
        /* width: 70%; */
        display: inline-block;
        text-align: left;
    }
    
    .icon-top.overflow {
        height: 200px;
        overflow-y: auto;
        align-items: flex-start;    
    }

    #playlist {
        display: block;
        color: white;
    }

    #playlist ul {
        width: 100%;
        /* height: 200px; */
        list-style: none;
        overflow-y: auto;
    }

    #playlist ul li {
        margin: 20px 0;
    }

    .col-right {
        width: calc(100vw - 200px);
    }

    .col-right header {
        width: calc(100% - 200px);
    }

    main .row {
        justify-content: flex-start;
    }

    footer {
        justify-content: space-evenly;
    }
   
    .footer-left > div {
        display: inline-block;
    }

    .footer-center {
        width: 50%;
    }
}

@media screen and (min-width: 768px){
    .footer-center {
        width: 45%;
    }

    .footer-right {
        display: inline-block;
    }
}

@media screen and (min-width: 992px) {
    main .row .song {
        width: 200px;
        margin: 10px;
    }

    footer {
        justify-content: space-between;
    }

    .footer-center {
        width: 50%;
    }
}

@media screen and (max-height: 500px) {
    #playlist {
        display: none;
    }
}

/* *** debug *** */

/* .debug .col-left {
    width: 10vw;
    background-color: orange;
} */

/* .debug .col-right {
    width: 90vw; 
    background-color: orangered;
} */

/* .debug header {
    background-color: olivedrab;
    border: 1px solid white;
} */

/* .debug .icon-top, 
.debug .icon-bottom {
    height: 10vh;
    background-color: maroon;
    border: 1px solid white;
} */

/* .debug nav ul li {
    width: 50px;
    height: 50px;
    background-color: turquoise;
    border: 1px solid white;
} */

/* .debug .title {
    background-color: violet;
} */

/* .debug .row {
    height: 200px; 
    width: 100%; 
    background-color: yellow; 
    border: 1px solid white; 
} */

/* .debug .song {
    height: 150px;
    width: 100px; 
    background-color: blue;
    border: 1px solid black;
} */

/* .debug .song-cover {
    height: 70px;
    width: 100%; 
    background-color: chartreuse; 
} */

/* .debug .song-title {
    height: 40px;
    width: 100%; 
    background-color: red; 
} */

/* .debug footer {
    width: 100vw;
    background-color: lightsalmon; 
    border: 1px solid white; 
    z-index: 999;
} */

/* .debug .footer-left {
    width: 20%;
    height: 100%;
    background-color: coral;
} */

/* .debug .footer-center {
    width: 50%;
    height: 100%;
    background-color: red;
} */

/* .debug .footer-right {
     width: 20%;
    height: 100%;
    background-color: yellow;
} */