/* *** commons *** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.col-left,
.col-right {
    height: calc(100vh - 100px);
}

.flex {
    /* width: 100vw; */
    display: flex;
}

/* *** mobile-first format -bootstrap default 576px (min-width: 0px)*** */

/* *** spotify interface *** */
.col-left {
    width: 10vw;
}

.col-right {
    width: 90vw;
    overflow-y: scroll;
}

/* *** footer *** */

footer {
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* *** media queries *** */

@media screen and (min-width: 576px) {
    .col-left {
        width: 40vw;
    }

    .col-right {
        width: 60vw;
    }
}
/* *** debug *** */

.debug .col-left {
    /* width: 10vw; */
    background-color: orange;
}

.debug .col-right {
    /* width: 90vw; */
    background-color: orangered;
}

.debug footer {
    background-color: lightsalmon;
    /* z-index: 999 */
}