/* *** commons *** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.flex {
    /* width: 100vw; */
    display: flex;
}

.col-left,
.col-right {
    height: calc(100vh - 100px);
}

/* *** mobile-first format -bootstrap default 576px (min-width: 0px)*** */

/* *** spotify interface *** */
.col-left {
    width: 10vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-top, 
.icon-bottom {
    padding: 10px;
}

#download img {
    width: 20px;
}

#playlist {
    display: none;
}

#profile img {
    background-color: #808080;
    border-radius: 50%;
}

.col-right {
    width: 90vw;
    overflow-y: scroll;
}

.col-right header {
    height: 100px;
}

/* *** footer *** */

footer {
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* *** media queries *** */

@media screen and (min-width: 576px) {
    .col-left {
        width: 30vw;
    }

    #playlist {
        display: block;
    }

    .col-right {
        width: 70vw;
    }

}
/* *** debug *** */

.debug .col-left {
    /* width: 10vw; */
    /* background-color: orange; */
}

.debug .col-right {
    /* width: 90vw; */
    background-color: orangered;
}

.debug header {
    background-color: olivedrab;
    border: 1px solid white;
}

/* .debug .icon-top, 
.debug .icon-bottom {
    height: 10vh;
    background-color: maroon;
    border: 1px solid white;
} */

.debug footer {
    width: 100vw;
    background-color: lightsalmon;
    border: 1px solid white;
    /* z-index: 999 */
}